@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
    color: #fff;
}

/* section 1 (organology) */

.organology-blog-sec {
    background-color: #1D1D1D;
    width: 100%;
    padding: 40px;
    color: #fff;
}

.org-blog-sec-container {
    max-width: 1980px;
    padding: 100px;
    margin: auto;
}

.headings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.small-circle {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    background-color: #FFD700;
}

.headings-text>p {
    display: flex;
    align-items: center;
    gap: 3px;
    font: 500 16px;
}

.headings-text>h2 {
    font-size: 52px;
    font-weight: 700;
    line-height: 54px;
}

.headings-btn>a {
    padding: 14px 24px;
    background-color: #FFD700;
    color: #1D1D1D;
    border-radius: 50px;
    font: 500 14px;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.left {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.right {
    width: 65%;
}

.card {
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid #fff;
    box-shadow: 0px 0px 15px #595959;
}

.card>img {
    width: 100%;
    height: 329px;
    object-fit: cover;
}

.card-text {
    padding: 24px 38px;
}

.card-text>.date {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 4px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.card-text>.date>span {
    width: 2px;
    height: 12px;
    display: block;
    background-color: #FFD700;
}

.card-text>.title {
    display: flex;
    align-items: first baseline;
    gap: 3px;
    margin-bottom: 8px;
    font-size: 18px;
    text-transform: uppercase;
}

.card-text>.title:hover a {
    color: #FFD700;
}


.card-text>.para {
    font-size: 14px;
    font-weight: 400;
}

.right>.card>img {
    height: 706px;
}

/* section 2 (pressreach) */
.pressreach {
    padding: 12px;
    margin: auto;
    color: #000;
}

.pressrea-chcontainer {
    max-width: 1140px;
}

.pressreach-container>.heading {
    display: flex;
    justify-content: center;
    margin: 45px;
}

.pressreach-container>.heading>h2 {
    width: fit-content;
    color: white;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: -2px;
    padding: 10px 20px;
    background-color: #CE0000;
}

/* professioanl certification section */
.professional-certification-sec {
    padding: 100px 75px;
    border-top: 1px solid black;
}

.professional-certification-sec>.text-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.professional-certification-sec>.text-content>h2 {
    font-size: 30px;
    font-weight: 700;
}

h2>.heading-green {
    color: rgb(0, 158, 95);
}

.professional-certification-sec>.text-content>p {
    width: 45%;
    text-align: center;
    line-height: 26px;
    word-spacing: 4px;
}

.pro-cert-sec-cards{
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
}

.pro-cert-card{
    width: 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.pro-cert-card>.badge{
    width: 50%;
}
.pro-cert-card>.badge>img{
    width: 100%;
}
.pro-cert-card>h3{
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    text-transform: capitalize;
}

@media (max-width: 1400px) {
    .org-blog-sec-container {
        padding: 0px;
    }
    .professional-certification-sec>.text-content>p {
        width: 65%;
    }
}