@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary: #CE0000;
    --secondary: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, sans-serif;
}

/* >> common styling << */

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.align-center {
    display: flex;
    align-items: center;
}

.gap-12 {
    gap: 12px;
}

.w-100 {
    width: 100%;
}

.w-60 {
    width: 60%;
}

.w-65 {
    width: 65%;
}

.w-40 {
    width: 40%;
}

.w-35 {
    width: 35%;
}

.w-34 {
    width: 34%;
}

.w-33 {
    width: 33%;
}

.w-50 {
    width: 50%;
}

.pd-r-12 {
    padding-right: 12px;
}

.pd-l-12 {
    padding-left: 12px;
}

.pd-tb-48 {
    padding: 48px 0px;
}

.pb-mb-12 {
    padding-bottom: 12px;
    margin-bottom: 12px;
}

.border-l {
    border-left: 1px solid #00000036;
}

.border-b {
    border-bottom: 1px solid #00000036;
}

/* >> common component styling << */
a {
    color: #ffffff;
    text-decoration: none;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

.pr-container {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
}

.pr-sec-heading {
    padding: 10px 18px;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    transform: skew(-10deg);
    color: #ffffff;
    background-color: var(--primary);
}

.pr-card img,
.pr-card2 img {
    border-radius: 6px;
    margin-bottom: 10px;
}

.pr-card-category-top p {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
    margin-bottom: 4px;
    letter-spacing: -1px;
    color: var(--primary);
}

.pr-card-title-top h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 31px;
    text-transform: uppercase;
    letter-spacing: -2px;
    margin-bottom: 8px;
    color: var(--secondary);
}

.pr-card-date {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.pr-card-category p {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
    margin-bottom: 4px;
    color: var(--primary);
}

.pr-card-title h3 {
    font-size: 17px;
    font-weight: 700;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 8px;
    color: var(--secondary);
}

.pr-card2 img {
    height: 110px;
    object-fit: cover;
}

.pr-card3 {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.pr-card3 img {
    width: 180px;
}

/* >> header styling start <<*/

/* _____header top part */
header>.pr-top-bar {
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
}

.pr-top-bar>.pr-container {
    display: flex;
    justify-content: space-between;
    padding: 0 34px;
}

.pr-top-social-icons {
    width: 150px;
    gap: 10px;
}

.pr-top-social-icons>a>i {
    font-size: 14px;
    opacity: .6;
    transition: opacity ease-in-out .2s;
}

.pr-top-social-icons>a>i:hover {
    opacity: 1;
}

.pr-top-bar .pr-logo h1 {
    font-size: 39px;
    font-weight: 700;
    line-height: 43px;
}

.pr-top-search-part {
    width: 150px;
    justify-content: end;
}

.pr-top-search-part button {
    gap: 6px;
    background-color: #ffffff1f;
    border: none;
    padding: 0px 20px;
    border-radius: 50px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.pr-top-search-part button i {
    font-size: 17px;
}

/* _____header bottom part(navigation part)*/
nav {
    background-color: var(--secondary);
    height: 70px;
}

nav ul {
    gap: 45px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1px;
}

nav a {
    padding-bottom: 8px;
}

nav a:hover {
    border-bottom: 3px solid #ffffff;
}

/* _____>_____dropdown menu style */
.pr-dropdown-menu {
    position: relative;
}

.pr-dropdown {
    display: none;
    width: 200px;
    position: absolute;
    padding: 15px;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
    background-color: var(--secondary);
}


.pr-dropdown li {
    border-bottom: 3px solid #000;
    padding-bottom: 3px;
}

.pr-dropdown li:hover {
    border-bottom: 3px solid #ffffff;
}

.pr-dropdown a:hover {
    border: none;
}

.pr-dropdown-menu:hover .pr-dropdown {
    display: flex;
}

/* >> search bar section styling starts here << */

.pr-search-bar-sec input {
    padding: 18px 14px;
    width: 500px;
    border: none;
    border-radius: 8px 0px 0px 8px;
    background-color: #EDEDED;
}

.pr-search-bar-sec input[type="search"]:focus-visible {
    outline: 1px solid var(--primary);
}

.pr-search-bar-sec input::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.pr-search-bar-sec button {
    padding: 16px 18px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    outline: 1px solid var(--primary);
    background-color: var(--primary);
}

/* >> footer styling start here << */
footer {
    color: #ffffff;
    background-color: var(--secondary);
}

/* _____footer top styling */
.pr-footer-top {
    border-bottom: 1px solid #ffffff36;
}

/* _____>_____footer top left styling */
.footer-logo h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 31px;
}

.footer-top-left-para {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.pr-footer-top-left .pr-top-social-icons a:hover {
    color: var(--primary);
}

/* _____>_____footer top middle styling */

.pr-footer-top-middle {
    border-left: 1px solid #ffffff36;
    border-right: 1px solid #ffffff36;
}

.pr-footer-top-middle a {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}

/* _____>_____footer top right styling */

.pr-footer-top-right h4 {
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}

.pr-footer-top-right p {
    font-size: 14px;
}

.pr-footer-email-bar input {
    padding: 12px 14px;
    border: none;
    outline: none;
    background-color: #1A1A1A;
}

.pr-footer-email-bar input::placeholder {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.pr-footer-email-bar input[type="submit"] {
    padding: 10px 14px;
    border: none;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: var(--primary);
}

.pr-footer-checkbox {
    align-items: start;
}

.pr-footer-checkbox label {
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
}

/* _____footer bottom styling */

.pr-footer-bottom p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

/* responsive styling */
@media screen and (max-width: 430px) {
    .pr-top-social-icons {
        display: none;
    }
    .pr-top-search-part{
        display: none;
    }
}